*, *:before,  *:after
  box-sizing: border-box
html
  font-size: 14px
body
  font-family: 'Futura Book', sans-serif
  font-size: 14px
img
  max-width: 100%
.section
  padding: 60px //temporarily
  &--dark
    background-color: $dark
    color: $light
  &-title
    text-align: center
    &__intro
      font-family: 'Futura Book', sans-serif
      font-weight: 500
      font-size: 1.071rem
      line-height: 1.5rem
      text-transform: uppercase
    &--left
      text-align: left
    &__text
      font-weight: normal
      font-size: 1.285rem
      line-height: 2.071rem
      max-width: 31.571rem // change location
    &__heading
      font-family: 'Yeseva One', cursive
      text-transform: uppercase
      font-weight: normal
      font-size: 20px
      line-height: 28px
      margin-bottom: 15px // mb deldet (// change location)
      &--primary
        color: $primary
        line-height: 138.6% // mb create a new class for the declaration

    &__word
      align-items: center
      display: flex 
      &::after
        content: ''
        width: 92px
        height: 1px
        background-color: $primary
        margin-left: 28px



    &__image
      display: flex
      align-items: center
      justify-content: center
      &::before, &::after
        content: ''
        width: 32px
        height: 1.54px
        background-color: $primary
        margin: 0 10px
    &__description
      font-family: 'Futura Book', sans-serif
      margin: auto
      margin-top: 1.64rem
      max-width: 52rem
      font-weight: normal
      font-size: 1.428rem
      line-height: 27px // change location

      // Pagination
        
.swiper
  &-pagination
    &-bullet
      background: rgba($light, 0.3)
      &-active
        background-color: $light
.d-block
  display: block