.hero
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  padding-top: 100px
  background: $dark url('../img/hero/bg.jpg') no-repeat center / cover
  height: 100vh
  color: $light
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba($dark, 0.7)
  &::after
    content: ''
    width: 100%
    position: absolute
    bottom: 0
    left: 0
    right: 0
    height: 3.46rem
    background-color: $dark
  &__content
    position: relative
    max-width: 47.857rem
    margin-left: 4.285rem
  &__title
    margin-bottom: 1rem
  &__text
    font-family: 'Futura Book', sans-serif
    font-size: 1.571rem
    max-width: 504px
    line-height: 1.4
    margin: 0
    margin-bottom: 3rem
  &__button
    font-family: 'Futura Demi', sans-serif
    margin-right: 1.214rem
    &--primary
      padding: 18px 26px
    &--outline
      padding: 18px 42px
  &__instagram
    position: absolute
    left: 0
    top: 0
    height: 100%
    max-width: 82px
  &__scroll-down
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    font-family: 'Yeseva One', cursive
    font-size: 0.857rem
    left: 0
    bottom: 0
    min-width: 17.642rem
    min-height: 6.928rem
    background-color: $dark
    text-transform: uppercase
    color: $light
    text-decoration: none
    z-index: 3
    &::after
      content: ''
      background: url(../img/hero/arrow-down.svg) no-repeat center
      width: 30px
      height: 30px
      border: 2px solid $primary
      border-radius: 50%
      margin-left: 1.214rem
.instagram
  display: flex
  justify-content: center
  align-items: center
  background-color: $dark
  &__link
    display: flex
    align-items: center
    font-family: 'Futura Demi', sans-serif
    text-transform: uppercase
    color: $primary
    text-decoration: none
    transform: rotate(90deg)
    line-height: 0.8
    font-size: 1rem
    &::after
      content: ''
      height: 1px
      width: 51px
      background-color: $primary
      margin-left: 1rem
      
.title
  margin: 0
  font-family: 'Yeseva One', cursive
  font-weight: normal
  text-transform: uppercase
  font-size: 2.857rem
  line-height: 1.3
  &--primary
    color: $primary
