.plan
  // display: flex
  // justify-content: center
  // align-items: center
  // z-index: 199
  // left: 0
  // top: 0
  // bottom: 
  // right: 0
  // width: 100%
  // height: 100%
  padding-bottom: 242px
  &__box
    &:last-of-type
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
  // &__img
  //   border: 2px solid $primary
  //   border-radius: 341px
    
  &__dialogue
    position: relative
    max-width: 36.35rem
    background: $dark url('../img/modal/bg-lines.svg') center no-repeat
    padding: 2.357rem 3.5rem 1.928rem
    color: $light
  &__title
    font-family: 'Yeseva One', cursive
    font-size: 1.357rem
    text-align: center
    margin: 0
    margin-bottom: 2.428rem
  &__form
    display: flex
    flex-direction: column
  &__input
    &-group
      display: flex
      flex-direction: column
      margin-bottom: 3.428rem
      &:nth-child(3)
        margin-bottom: 0
    &:last-of-type
      margin-bottom: 1rem
  &__policy
    margin-bottom: 2.7rem
  &__button
    align-self: flex-end
  &__save
    margin-top: 38px
    display: flex
    justify-content: center
    align-items: center
    &--title
      max-width: 304px
      font-family: 'Futura Book', sans-serif
      font-weight: 500
      font-size: 20px
      line-height: 25px
      color: $primary
      text-shadow: 0px 3px 10px rgba($primary, 0.15)
      vertical-align: middle
    &--img
      background: $primary
      box-shadow: 0px 10px 20px rgba($primary, 0.2)
      padding: 16px
      border-radius: 34px
      vertical-align: middle
      margin-right: 25.5px
      