.team
  // background: $light url('../img/plan/bg-line.svg') no-repeat center/cover
  // position: relative
  margin-top: -479px
  &__row
    margin-bottom: 3.785rem
  &__idea
    margin: -35px 0 0 -36px
    position: absolute
    padding: 13px
    background: $primary
    box-shadow: 0px 5px 20px rgba($primary, 0.5)
  &__section
    &-title
      &--description
        max-width: 448px // delet any geometry from section-title__description
        margin-bottom: 5rem
        margin-top: 1.3rem
  &__card
    margin-right: 5px
  &__section
    &-title
  &__text
    font-family: 'Futura Book', sans-serif
    max-width: 40.785rem
    margin: auto
    font-weight: normal
    font-size: 1.428rem
    line-height: 2.45rem
    text-align: center
    margin-bottom: 4.28rem
    &::before
      content: ''
      display: block
      margin: auto
      margin-bottom: 0.7rem
      width: 55px
      height: 1.5px
      background-color: $primary
      border-radius: 30px
    
.card
  &__wrapper
    &--team
      text-align: center
      padding: 19px 0 21px 0
      
  &__title
    &--team
      margin-bottom: 3px
  &__ticket
    position: relative
    z-index: 1
    background-color: $light
    box-shadow: 0px 10px 15px rgba($light, 0.05)
    max-width: 233px
    display: flex
    flex-direction: column
    margin: auto
    align-items: center
    margin-top: -83px
    
  &__profession
    font-family: 'Futura Book', sans-serif
    font-weight: normal
    font-size: 18px
    line-height: 26px
    // text-align: center
    color: $secondary
  &__about
    font-family: 'Yeseva One', cursive
    font-weight: normal
    font-size: 13px
    line-height: 20px
    text-transform: uppercase
    color: $light
    background-color: $primary
    padding: 12px 45px
    

